src/META-INF/wsdl/localhost_8080/bookTicket/bookTicket.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pck/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pck/" name="bookTicket">
<types>
<xsd:schema>
<xsd:import namespace="http://pck/" schemaLocation="http://localhost:8080/bookTicket/bookTicket?xsd=1"/>
</xsd:schema>
</types>
<message name="book">
<part name="parameters" element="tns:book"/>
</message>
<message name="bookResponse">
<part name="parameters" element="tns:bookResponse"/>
</message>
<message name="AuthenticationException">
<part name="fault" element="tns:AuthenticationException"/>
</message>
<message name="book2">
<part name="parameters" element="tns:book2"/>
</message>
<message name="book2Response">
<part name="parameters" element="tns:book2Response"/>
</message>
<portType name="bookTicket">
<operation name="book">
<input wsam:Action="http://pck/bookTicket/bookRequest" message="tns:book"/>
<output wsam:Action="http://pck/bookTicket/bookResponse" message="tns:bookResponse"/>
<fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="http://pck/bookTicket/book/Fault/AuthenticationException"/>
</operation>
<operation name="book2">
<input wsam:Action="http://pck/bookTicket/book2Request" message="tns:book2"/>
<output wsam:Action="http://pck/bookTicket/book2Response" message="tns:book2Response"/>
</operation>
</portType>
<binding name="bookTicketPortBinding" type="tns:bookTicket">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="book">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AuthenticationException">
<soap:fault name="AuthenticationException" use="literal"/>
</fault>
</operation>
<operation name="book2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="bookTicket">
<port name="bookTicketPort" binding="tns:bookTicketPortBinding">
<soap:address location="http://localhost:8080/bookTicket/bookTicket"/>
</port>
</service>
</definitions>